/proyecto/nbproject/private/
/proyecto/build/
/proyecto/dist/
/Programacion/Oracle conexion/Oracle conexion/conexionOracle/build/
/Programacion/Oracle conexion/Oracle conexion/conexionOracle/nbproject/private/